@font-face {
  font-family: "Roboto";
  src: url(../fonts/latoregular.woff2) format("woff2"), url(../fonts/latoregular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/latoblack.woff2) format("woff2"), url(../fonts/latoblack.woff) format("woff");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/latobold.woff2) format("woff2"), url(../fonts/latobold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/latoitalic.woff2) format("woff2"), url(../fonts/latoitalic.woff) format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/latolight.woff2) format("woff2"), url(../fonts/latolight.woff) format("woff");
  font-style: normal;
  font-weight: 300;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 71%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.effects {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.effects:focus {
  cursor: pointer;
}

.effects:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.effects:active {
  opacity: 0.7;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1);
}

.wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #222222;
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
}

@media (max-width: 1599px) {
  .header__container {
    padding: 0 16px;
  }
}

@media (max-width: 767px) {
  .header__container {
    padding: 0;
  }
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__ico-svg {
  fill: #fff;
}

.header__buttom {
  border: none;
  background: transparent;
}

.header__burger {
  border: none;
  background: transparent;
}

.header__ico {
  margin: 0 0 0 34px;
}

@media (max-width: 767px) {
  .header__ico {
    display: none;
  }
}

.header__menu {
  display: none;
  position: absolute;
  background-color: #fff;
  height: 768px;
  top: 75px;
  width: 15%;
  right: 0px;
  z-index: 2;
}

@media (max-width: 767px) {
  .header__menu {
    width: 100%;
  }
}

.header__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin: 37px 0 0 33px;
}

.header__menu-list {
  margin: 0 0 0 33px;
}

.header__menu-output {
  position: absolute;
  top: 16px;
  right: 17px;
  border: none;
  background: transparent;
}

.header__wrp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header__menu-cross {
  fill: #5d5d5d;
}

.display-block {
  display: block;
}

.menu-sub-item__title {
  padding: 20px 0 0 0;
}

.menu-sub-item__link-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #f16d7f;
}

.menu-sub-item__item {
  padding: 12px 0 0 20px;
}

.menu-sub-item__link-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  color: #5d5d5d;
}

.brand {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1e4e6;
}

@media (max-width: 767px) {
  .brand {
    min-height: 363px;
  }
}

.brand__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 0 0 92px;
}

.brand__box::before {
  content: "";
  border-left: 12px solid #f16d7f;
  position: absolute;
  width: 12px;
  height: 92px;
  left: 64px;
}

@media (max-width: 1599px) {
  .brand__box::before {
    left: 40px;
  }
}

@media (max-width: 1599px) {
  .brand__box {
    padding: 0 0 0 68px;
  }
}

@media (max-width: 1599px) {
  .brand__img {
    height: 100%;
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}

.brand__title {
  font-size: 48px;
  line-height: 57px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 1599px) {
  .brand__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.brand__mit-title {
  display: block;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1599px) {
  .brand__mit-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__mit-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__pink {
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  color: #f16d7f;
}

.sale {
  margin: 65px 0 96px 0;
}

.sale__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale__item {
  min-height: 260px;
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  text-align: center;
  background: #504542;
}

.sale__item:nth-child(1) {
  background-image: url(/img/offer/man.jpg);
}

.sale__item:nth-child(2) {
  background-image: url(/img/offer/women.jpg);
}

.sale__item:nth-child(3) {
  background-image: url(/img/offer/kids.jpg);
}

.sale__item:nth-child(4) {
  background-image: url(/img/offer/accesories.jpg);
  width: 100%;
  min-height: 180px;
}

@media (max-width: 1599px) {
  .sale__item:nth-child(4) {
    min-height: 117px;
  }
}

.sale__item:not(:last-child) {
  margin: 0 0 30px 0;
}

@media (max-width: 1599px) {
  .sale__item {
    min-height: 167px;
  }
}

@media (max-width: 767px) {
  .sale__item {
    min-height: 248px;
    width: 100%;
  }
}

.sale__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.sale__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  font-style: normal;
  color: #f16d7f;
}

.feature {
  text-align: center;
}

.feature__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  text-align: center;
  text-transform: capitalize;
}

.feature__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #b1b1b1;
  text-align: center;
  text-transform: capitalize;
  margin: 6px 0 57px 0;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature__item {
  width: 31%;
  height: 100%;
  background-color: #f8f8f8;
}

.feature__item:nth-child(1) {
  margin: 0 0 30px 0;
}

.feature__item:nth-child(2) {
  margin: 0 0 30px 0;
}

.feature__item:nth-child(3) {
  margin: 0 0 30px 0;
}

@media (max-width: 1024px) {
  .feature__item {
    width: 48%;
  }
  .feature__item:nth-child(1) {
    margin: 0 0 17px 0;
  }
  .feature__item:nth-child(2) {
    margin: 0 0 17px 0;
  }
  .feature__item:nth-child(3) {
    margin: 0 0 17px 0;
  }
  .feature__item:nth-child(4) {
    margin: 0 0 17px 0;
  }
  .feature__item:nth-child(5) {
    margin: 0 0 17px 0;
  }
  .feature__item:nth-child(6) {
    margin: 0 0 17px 0;
  }
}

@media (max-width: 767px) {
  .feature__item {
    width: 100%;
  }
  .feature__item:nth-child(1) {
    margin: 0 0 17px 0;
  }
  .feature__item:nth-child(2) {
    margin: 0 0 17px 0;
  }
  .feature__item:nth-child(3) {
    margin: 0 0 17px 0;
  }
  .feature__item:nth-child(4) {
    margin: 0 0 17px 0;
  }
  .feature__item:nth-child(5) {
    margin: 0 0 17px 0;
  }
  .feature__item:nth-child(6) {
    margin: 0 0 17px 0;
  }
}

.feature__cards {
  overflow: hidden;
  position: relative;
}

.feature__box {
  padding: 25px 20px 20px 16px;
  text-align: left;
}

.feature__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature__subtitle {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
}

.feature__subtext {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #5d5d5d;
  margin: 12px 0 18px 0;
}

.feature__linck {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #f16d7f;
}

.feature__overlay {
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__overlay-btn {
  width: 55%;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  text-transform: capitalize;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feature__overlay-btn:focus {
  cursor: pointer;
}

.feature__overlay-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

.feature__overlay-btn:active {
  opacity: 0.8;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1);
}

.feature__ico-products {
  fill: #fff;
  margin: 0 10px 0 0;
}

.feature__overlay-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__btn {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  color: #f16d7f;
  padding: 14px 38px;
  background-color: #fff;
  border: 1px solid #f16d7f;
  margin: 48px 0 95px 0;
}

.feature__btn:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #fff;
}

.feature__overlay-btn,
.feature__overlay {
  display: none;
}

.feature__cards:hover .feature__overlay-btn,
.feature__cards:hover .feature__overlay,
.feature__cards:hover {
  display: block;
}

.service {
  background-color: #222222;
  min-height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1024px) {
  .service__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 100%;
  text-transform: capitalize;
  text-align: center;
}

@media (max-width: 1024px) {
  .service__item {
    width: 55%;
    margin: 0 0 48px 0;
  }
  .service__item:first-child {
    margin: 48px 0 48px 0;
  }
}

.service__ico {
  fill: #f16d7f;
}

.service__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  margin: 28px 0 16px 0;
}

.service__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #b1b1b1;
}

.frame {
  background-image: url(../img/footer/nature.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.frame__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1599px) {
  .frame__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.frame__box {
  width: 360px;
  margin: 87px 0 126px 0;
  text-align: center;
}

@media (max-width: 1599px) {
  .frame__box {
    margin: 53px 0 48px 0;
  }
}

.frame__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin: 30px 0 0 0;
}

@media (max-width: 767px) {
  .frame__text {
    font-size: 19px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
}

.frame__subtext {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 767px) {
  .frame__subtext {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: italic;
  }
}

@media (max-width: 1599px) {
  .frame__form {
    margin: 0 0 140px 0;
  }
}

.frame__lead {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  display: block;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}

.frame__sublead {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.frame__lead-fixes {
  display: block;
}

.frame__subscription {
  width: 250px;
  height: 45px;
  border-radius: 30px 0 0 30px;
  border: 1px solid #e1e1e1;
  background-color: #e1e1e1;
  padding-left: 20px;
}

.frame__subscription::-webkit-input-placeholder {
  text-transform: capitalize;
}

.frame__subscription:-ms-input-placeholder {
  text-transform: capitalize;
}

.frame__subscription::-ms-input-placeholder {
  text-transform: capitalize;
}

.frame__subscription::placeholder {
  text-transform: capitalize;
}

.frame__btn {
  width: 100px;
  height: 49px;
  border: 1px solid #f16d7f;
  border-radius: 0px 30px 30px 0;
  background-color: #f16d7f;
  text-transform: capitalize;
  color: #fff;
}

.frame__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright {
  background-color: #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .copyright__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  display: block;
  color: #fff;
  margin: 30px 0 30px 0;
}

@media (max-width: 767px) {
  .copyright__text {
    margin: 25px 0 25px 0;
  }
}

.copyright__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .copyright__list {
    margin: 25px 0 0 0;
  }
}

.copyright__item:not(last-child) {
  margin: 0 7px 0 0;
}

.registration {
  background-color: #f8f3f4;
  padding: 60px 0 60px 0;
}

.registration__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #f16d7f;
}

@media (max-width: 767px) {
  .registration__title {
    text-align: center;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 64px 0 0 0;
}

@media (max-width: 767px) {
  .form {
    text-align: center;
  }
}

@media (max-width: 1599px) {
  .form {
    margin: 40px 22px 0 0;
  }
}

.form__shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-transform: capitalize;
}

.form__info {
  margin: 21px 0 21px 0;
}

.form__info:hover {
  cursor: pointer;
}

.form__field {
  border: 1px solid #5d5d5d;
  width: 90%;
  height: 45px;
  padding: 0 0 0 15px;
}

.form__field::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #b1b1b1;
  text-transform: capitalize;
}

.form__field:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #b1b1b1;
  text-transform: capitalize;
}

.form__field::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #b1b1b1;
  text-transform: capitalize;
}

.form__field::placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #b1b1b1;
  text-transform: capitalize;
}

.form__field:focus {
  outline: 1px solid #5d5d5d;
  background: #f8f3f4;
}

.form__field:hover {
  cursor: pointer;
}

.form__choice:hover {
  cursor: pointer;
}

.form__box {
  margin: 0 0 35px 0;
  text-transform: capitalize;
}

.form__text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  color: #e1e1e1;
  width: 358px;
}

.form__button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #fff;
  text-transform: uppercase;
  padding: 17px 66px 17px 29px;
  margin: 39px 0 96px 0;
  position: relative;
}

.form__button::after {
  content: "";
  background-image: url(/img/regist/arrow.svg);
  width: 17px;
  height: 10px;
  background-size: 17px 10px;
  position: absolute;
  right: 29px;
  top: 20px;
}

@media (max-width: 767px) {
  .form__button {
    margin: 40px 0 40px 0;
  }
}

.perks {
  max-width: 652px;
  margin: 64px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

@media (max-width: 767px) {
  .perks {
    margin: 0 0 100px 0;
  }
}

.perks__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  max-width: 100%;
}

@media (max-width: 1599px) {
  .perks__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.perks__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin: 22px 0;
  max-width: 100%;
}

@media (max-width: 1599px) {
  .perks__text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.perks__list {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  max-width: 100%;
}

@media (max-width: 1599px) {
  .perks__list {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.perks__item {
  position: relative;
  margin: 0 0 16px 46px;
}

.perks__item::before {
  content: "";
  position: absolute;
  background-image: url(/img/regist/check-mark.svg);
  background-size: 20px 16px;
  width: 20px;
  height: 16px;
  margin: 7px 0 0 -46px;
  background-repeat: no-repeat;
}

.shopping {
  background-color: #f8f3f4;
  padding: 60px 0 60px 0;
}

.shopping__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #f16d7f;
}

.adress {
  margin: 113px 0 0 0;
}

.adress__shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adress__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

.adress__field {
  width: 360px;
  height: 45px;
  margin: 20px 0 0 0;
  border: 1px solid #a4a4a4;
}

.adress__field::-webkit-input-placeholder {
  text-transform: capitalize;
  padding: 0 0 0 17px;
}

.adress__field:-ms-input-placeholder {
  text-transform: capitalize;
  padding: 0 0 0 17px;
}

.adress__field::-ms-input-placeholder {
  text-transform: capitalize;
  padding: 0 0 0 17px;
}

.adress__field::placeholder {
  text-transform: capitalize;
  padding: 0 0 0 17px;
}

.adress__btn {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #a4a4a4;
  color: #a4a4a4;
  text-transform: uppercase;
  background: transparent;
  padding: 10px 15px;
  width: 35%;
  margin: 23px 0 0 0;
}

.adress__btn:hover {
  background-color: #f16d7f;
  border: #f16d7f;
  color: #fff;
}

.basket__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  width: 652px;
}

.basket__item:not(:last-child) {
  margin: 96px 0 40px 0;
}

.basket__box {
  width: 211px;
  padding: 0 0 0 31px;
}

.basket__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 42px 0;
}

.basket__output {
  position: absolute;
  top: 28px;
  right: 22px;
  border: none;
  background: none;
}

.basket__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 72px 0 128px 0;
}

.basket__btn {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #a4a4a4;
  background: transparent;
  padding: 16px 40px;
  text-transform: uppercase;
}

.basket__btn:hover {
  background-color: #f16d7f;
  border: #f16d7f;
  color: #fff;
}

.basket__ico {
  fill: #5d5d5d;
}

.basket__pink {
  color: #f16d7f;
}

.basket-text__list {
  font-size: 22px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
}

.basket-text__item:not(:last-child) {
  margin: 0 0 6px 0;
}

.checkout {
  background: #F5F3F3;
  margin: 57px 0 0 0;
}

.checkout__list {
  height: 214px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout__item:nth-child(2) {
  position: relative;
}

.checkout__text {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: right;
  margin: 39px 34px 0 0;
}

.checkout__subtext {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: right;
  margin: 12px 37px 40px 0;
}

.checkout__subtext::before {
  content: '';
  background: #E2E2E2;
  width: 275px;
  height: 1px;
  position: absolute;
  top: 50px;
  left: 43px;
}

.checkout__btn {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  border: 1px solid #f16d7f;
  background: #f16d7f;
  text-transform: uppercase;
  padding: 15px 41px;
}

.checkout__pink {
  color: #f16d7f;
}

.menu__burger {
  fill: #fff;
}

.menu__ico {
  fill: #fff;
}

.product {
  background-color: #f8f3f4;
  min-height: 130px;
}

.product__wrp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 65px 0;
}

.product__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #f16d7f;
}

.product__item {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.product__item:last-child {
  color: #f16d7f;
}

.product__link {
  color: #5d5d5d;
}

.pay {
  text-align: center;
}

.pay__wrp {
  border: 1px solid #b1b1b1;
  padding: 65px 0;
  position: relative;
  background: #fff;
}

.pay__box {
  margin: 130px 0 48px 0;
}

.pay__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pay__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #f16d7f;
  text-transform: uppercase;
}

.pay__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  margin: 27px 0 48px 0;
  text-transform: uppercase;
}

.pay__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  width: 48%;
  margin: 0 0 33px 0;
  text-transform: capitalize;
}

.pay__link {
  font-size: 24px;
  font-weight: 300;
  color: #f16d7f;
}

.pay__subtext {
  text-transform: uppercase;
  color: #b1b1b1;
}

.pay__btn {
  margin: 0;
  -webkit-transition: 2;
  transition: 2;
}

.pay__btn:hover {
  background: none;
  color: #f16d7f;
}

.pay__ico {
  fill: #f16d7f;
  margin: 0 10px 0 0;
}

.carousel {
  margin: 0 0 -40px 0;
}

.card-main {
  margin: 130px 0;
}

.card-main__title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.card-main__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #a4a4a4;
  margin: 0 0 18px 0;
  text-transform: capitalize;
}

.card-main__link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #f16d7f;
}
