.pay {
  text-align: center;
  &__wrp {
    border: 1px solid $light-gray;
    padding: 65px 0;
    position: relative;
    background: $white;
  }

  &__box {
    margin: 130px 0 48px 0;
  }

  &__item {
    @include flex-center;
  }

  &__title {
    @include font(14px, 17px, 300);
    color: $dark-pink;
  }

  &__subtitle {
    @include font(18px, 22px, 300);
    margin: 27px 0 48px 0;
  }

  &__text {
    @include font(14px, 17px, 300);
    width: 48%;
    margin: 0 0 33px 0;
  }

  &__link {
    font-size: 24px;
    font-weight: 300;
    color: $dark-pink;
  }

  &__btn {
    margin: 0;
    transition: 2;
    &:hover {
      background: none;
      color: $dark-pink;
    }
  }

  &__img {
    fill: $dark-pink;
    margin: 0 10px 0 0;
  }
}
