.product {
  background-color: $light-pink;
  min-height: 130px;
  &__wrp {
    justify-content: space-between;
    padding: 65px 0;
  }

  &__title {
    @include font(24px, 29px, 400);
    text-transform: uppercase;
    color: $dark-pink;
  }

  &__item {
    @include font(14px, 17px, 300);
    &:last-child {
      color: $dark-pink;
    }
  }

  &__link {
    color: $darkgray;
  }
}
