.feature {
  text-align: center;

  &__title {
    @include font(30px, 36px, 400);
    color: $black;
    text-align: center;
    text-transform: capitalize;
  }

  &__text {
    @include font(14px, 17px, 400);
    color: $light-gray;
    text-align: center;
    text-transform: capitalize;
    margin: 6px 0 57px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    width: 31%;
    height: 100%;
    background-color: #f8f8f8;

    &:nth-child(1) {
      margin: 0 0 30px 0;
    }

    &:nth-child(2) {
      margin: 0 0 30px 0;
    }

    &:nth-child(3) {
      margin: 0 0 30px 0;
    }

    @include tablet-min {
      width: 48%;

      &:nth-child(1) {
        margin: 0 0 17px 0;
      }

      &:nth-child(2) {
        margin: 0 0 17px 0;
      }

      &:nth-child(3) {
        margin: 0 0 17px 0;
      }
      &:nth-child(4) {
        margin: 0 0 17px 0;
      }

      &:nth-child(5) {
        margin: 0 0 17px 0;
      }

      &:nth-child(6) {
        margin: 0 0 17px 0;
      }
    }

    @include mobile {
      width: 100%;

      &:nth-child(1) {
        margin: 0 0 17px 0;
      }

      &:nth-child(2) {
        margin: 0 0 17px 0;
      }

      &:nth-child(3) {
        margin: 0 0 17px 0;
      }
      &:nth-child(4) {
        margin: 0 0 17px 0;
      }

      &:nth-child(5) {
        margin: 0 0 17px 0;
      }

      &:nth-child(6) {
        margin: 0 0 17px 0;
      }
    }
  }

  &__cards {
    overflow: hidden;
    position: relative;
  }

  &__box {
    padding: 25px 20px 20px 16px;
    text-align: left;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__subtitle {
    @include font(13px, 16px, 400);
  }

  &__subtext {
    @include font(13px, 16px, 300);
    color: $darkgray;
    margin: 12px 0 18px 0;
  }

  &__linck {
    @include font(16px, 19px, 400);
    color: $dark-pink;
  }

  &__overlay {
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    @include flex-center;
  }

  &__overlay-btn {
    width: 55%;
    color: $white;
    background: transparent;
    border: 1px solid $white;
    text-transform: capitalize;
    padding: 10px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:focus {
      cursor: pointer;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }

    &:active {
      opacity: 0.8;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
        0 -1px 0 rgba(255, 255, 255, 0.1) inset;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
        0 -1px 0 rgba(255, 255, 255, 0.1);
    }
  }

  &__ico-products {
    fill: $white;
    margin: 0 10px 0 0;
  }

  &__overlay-position {
    @include flex-center;
  }

  &__btn {
    @include font(16px, 19px, 400);
    text-transform: capitalize;
    color: $dark-pink;
    padding: 14px 38px;
    background-color: $white;
    border: 1px solid $dark-pink;
    margin: 48px 0 95px 0;

    &:hover {
      background-color: $dark-pink;
      border: 1px solid $dark-pink;
      color: $white;
    }
  }
}

.feature__overlay-btn,
.feature__overlay {
  display: none;
}

.feature__cards:hover .feature__overlay-btn,
.feature__cards:hover .feature__overlay,
.feature__cards:hover {
  display: block;
}
