.menu-sub-item {

	&__title {
		@include font(14px, 17px);
		text-transform: uppercase;
		color: $dark-pink;
		margin: 20px 0 0 0;
	}

	&__item {
		@include font(14px, 17px);
		text-transform: capitalize;
		margin: 12px 0 0 20px;
		color: $darkgray;
	}
}