.menu-sub-item {
  &__title {
    padding: 20px 0 0 0;
  }

  &__link-title {
    @include font(14px, 17px);
    text-transform: uppercase;
    color: $dark-pink;
  }

  &__item {
    padding: 12px 0 0 20px;
  }

  &__link-text {
    @include font(14px, 17px);
    text-transform: capitalize;
    color: $darkgray;
  }
}
