.sale {
  margin: 65px 0 96px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    min-height: 260px;
    width: 31%;
    @include flex-center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(80, 69, 66, 1);

    &:nth-child(1) {
      background-image: url(/img/offer/man.jpg);
    }

    &:nth-child(2) {
      background-image: url(/img/offer/women.jpg);
    }

    &:nth-child(3) {
      background-image: url(/img/offer/kids.jpg);
    }

    &:nth-child(4) {
      background-image: url(/img/offer/accesories.jpg);
      width: 100%;
      min-height: 180px;

      @include tablet {
        min-height: 117px;
      }
    }

    &:not(:last-child) {
      margin: 0 0 30px 0;
    }

    @include tablet {
      min-height: 167px;
    }

    @include mobile {
      min-height: 248px;
      width: 100%;
    }
  }

  &__text {
    @include font(16px, 19px, 400);
    color: $white;
  }

  &__title {
    @include font(18px, 22px, 900);
    color: $dark-pink;
  }
}
